<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Xamarin.Forms" version="XamarinFormsSdk"  />

    <package id="Xamarin.Essentials" version="XamarinEssentialsSdk" />
    <package id="FSharp.Core" version="FSharpCorePkg" />
    <package id="Fabulous" version="ElmishXamarinFormsPkg" />
    <package id="Newtonsoft.Json" version="NewtonsoftJsonPkg" />
</packages>