{{ define "additional-styles" }}
{{ $sass := resources.Get "sass/root.scss" }}
{{ $style := $sass | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}

{{ $hero_360_1 := resources.Get "images/hero-360px-1.png" }}
{{ $hero_360_2 := resources.Get "images/hero-360px-2.png" }}
{{ $hero_360_3 := resources.Get "images/hero-360px-3.png" }}
{{ $hero_700_1 := resources.Get "images/hero-700px-1.png" }}
{{ $hero_700_2 := resources.Get "images/hero-700px-2.png" }}
{{ $hero_700_3 := resources.Get "images/hero-700px-3.png" }}
{{ $hero_1000_1 := resources.Get "images/hero-1000px-1.png" }}
{{ $hero_1000_2 := resources.Get "images/hero-1000px-2.png" }}
{{ $hero_1000_3 := resources.Get "images/hero-1000px-3.png" }}
{{ $hero_1440_1 := resources.Get "images/hero-1440px-1.png" }}
{{ $hero_1440_2 := resources.Get "images/hero-1440px-2.png" }}
{{ $hero_1440_3 := resources.Get "images/hero-1440px-3.png" }}

{{ $expressiveViews1 := resources.Get "images/expressive-views-1.webp" }}
{{ $expressiveViews2 := resources.Get "images/expressive-views-2.webp" }}
{{ $mvu := resources.Get "images/mvu.webp" }}
{{ $fsharp1 := resources.Get "images/fsharp-1.webp" }}
{{ $fsharp2 := resources.Get "images/fsharp-2.webp" }}
{{ $dotnetEcosystem := resources.Get "images/dotnet-ecosystem.webp" }}
{{ $xamarinLogo := resources.Get "images/xamarin.svg" }}
{{ $mauiLogo := resources.Get "images/maui.svg" }}
{{ $avaloniaLogo := resources.Get "images/avalonia.svg" }}

    <section class="hero">
        <div class="hero-container">
            <div class="hero-description">
                <h1>Build reliable multi&#8209;platform apps effortlessly.</h1>
                <p>Fabulous empowers you to create amazing and reliable apps with ease by unleashing the power of declarative UI and functional programming.</p>
                <a class="button" href="https://docs.fabulous.dev/get-started">Get started</a>
            </div>
            <div class="hero-image">
                <picture id="hero-1">
                    <source srcset="{{ $hero_1440_1.RelPermalink }}" media="(min-width: 1440px)" />
                    <source srcset="{{ $hero_1000_1.RelPermalink }}" media="(min-width: 1000px)" />
                    <source srcset="{{ $hero_700_1.RelPermalink }}" media="(min-width: 700px)" />
                    <img src="{{ $hero_360_1.RelPermalink }}" alt="Desktop app example made with Fabulous" />
                </picture>
                <picture id="hero-2">
                    <source srcset="{{ $hero_1440_2.RelPermalink }}" media="(min-width: 1440px)" />
                    <source srcset="{{ $hero_1000_2.RelPermalink }}" media="(min-width: 1000px)" />
                    <source srcset="{{ $hero_700_2.RelPermalink }}" media="(min-width: 700px)" />
                    <img src="{{ $hero_360_2.RelPermalink }}" alt="Mobile app example made with Fabulous" />
                </picture>
                <picture id="hero-3">
                    <source srcset="{{ $hero_1440_3.RelPermalink }}" media="(min-width: 1440px)" />
                    <source srcset="{{ $hero_1000_3.RelPermalink }}" media="(min-width: 1000px)" />
                    <source srcset="{{ $hero_700_3.RelPermalink }}" media="(min-width: 700px)" />
                    <img src="{{ $hero_360_3.RelPermalink }}" alt="Mobile app example made with Fabulous" />
                </picture>
            </div>
        </div>
        <div class="spotlight"></div>
    </section>
    <section class="body">
        <section id="declarative-ui" class="content">
            <div class="content-container">
                <div class="content-description">
                    <hgroup>
                        <h2>Declarative UI</h2>
                        <h3>Expressive, flexible, and maintainable views</h3>
                    </hgroup>
                    <p>Describe how your app should look rather than the steps required to create it.<br/>Fabulous will make sure your users always see the latest state of your app.</p>
                </div>
                <div id="declarative-ui-animated" class="content-image">
                    <img id="expressive-views-1" src="{{ $expressiveViews1.RelPermalink }}" />
                    <img id="expressive-views-2" src="{{ $expressiveViews2.RelPermalink }}" />
                </div>
            </div>
        </section>
        <section id="mvu" class="content">
            <div class="content-container">
                <div class="content-description">
                    <hgroup>
                        <h2>Model-View-Update</h2>
                        <h3>Simple and robust architecture</h3>
                    </hgroup>
                    <p>MVU makes it easier to reason about the behavior of your application by separating the state and logic from the UI representation.</p>
                    <a href="https://zaid-ajaj.github.io/the-elmish-book/#/chapters/elm/">Learn more</a>
                </div>
                <picture class="content-image">
                    <img src="{{ $mvu.RelPermalink }}" alt="Diagram of the Model-View-Update pattern" />
                </picture>
            </div>
            <div class="spotlight"></div>
        </section>
        <section id="functional-programming" class="content">
            <div class="content-container">
                <div class="content-description">
                    <hgroup>
                        <h2>Functional programming</h2>
                        <h3>A great paradigm for building apps</h3>
                    </hgroup>
                    <p>The state of the app can change frequently and rapidly due to user interactions and events.<br/>F# can help manage this complexity by making it clear how the state changes and making it easier to test the different states.</p>
                    <a href="https://dotnet.microsoft.com/languages/fsharp">Learn more</a>
                </div>
                <div id="functional-programming-animated" class="content-image">
                    <img id="fsharp-1" src="{{ $fsharp1.RelPermalink }}" />
                    <div id="fsharp-2"></div>
                    <img id="fsharp-3" src="{{ $fsharp2.RelPermalink }}" />
                </div>
            </div>
        </section>
        <section id="dotnet" class="content">
            <div class="content-container">
                <div class="content-description">
                    <hgroup>
                        <h2>Great ecosystem</h2>
                        <h3>Powered by .NET</h3>
                    </hgroup>
                    <p>.NET is a mature and widely adopted ecosystem. It provides a wide range of tools and frameworks, as well as a large and active community that provides support and resources.</p>
                    <a href="https://dotnet.microsoft.com/learn/dotnet/what-is-dotnet">Learn more</a>
                </div>
                <picture class="content-image">
                    <img src="{{ $dotnetEcosystem.RelPermalink }}" alt="dotnet" />
                </picture>
            </div>
            <div class="spotlight"></div>
        </section>
        <section id="community" class="community">
            <div class="community-container">
                <section class="content">
                    <div class="content-container no-image">
                        <div class="content-description">
                            <hgroup>
                                <h2>Built in the open</h2>
                                <h3>Join the Fabulous community</h3>
                            </hgroup>
                            <p>Started in 2018 in the <a href="https://github.com/fsprojects">F# Community Incubation Space</a>, Fabulous has been open source since the beginning and is always looking for new contributors.</p>
                            <p>Did you find an issue, have a feature request, or want to participate to the future of Fabulous? Head to our GitHub repository.</p>
                            <a href="https://github.com/fabulous-dev/Fabulous/blob/main/CONTRIBUTING.md">Start contributing</a>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="content-container no-image">
                        <div class="content-description">
                            <hgroup>
                                <h2>Sponsoring & Services</h2>
                                <h3>Support Fabulous</h3>
                            </hgroup>
                            <p>Fabulous is not a commercial product and is being built on the free time of everyone involved.</p>
                            <p>If you are a company using Fabulous or simply want to support all the efforts going into Fabulous, you can sponsor us via the GitHub Sponsors program.</p>
                            <a href="https://github.com/fabulous-dev/Fabulous">Support us on GitHub</a>
                            <p>Looking for support? We can provide you with paid services to help you build your apps.</p>
                            <a href="mailto:maintainers@fabulous.dev">Commercial support</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="spotlight"></div>
        </section>
        <section class="callout">
            <div>
                <h2>Choose your own adventure</h2>
                <p>Fabulous brings declarative UI and functional programming to existing .NET UI frameworks. <br/> <br/> You can choose the one that fits your needs best.</p>
                <ul>
                    <li>
                        <a href="https://github.com/fabulous-dev/Fabulous.MauiControls">
                            <img src="{{ $mauiLogo.RelPermalink }}" alt="Logo of .NET MAUI" />
                            <p>.NET MAUI</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/fabulous-dev/Fabulous.XamarinForms">
                            <img src="{{ $xamarinLogo.RelPermalink }}" alt="Logo of Xamarin.Forms" />
                            <p>Xamarin.Forms</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/fabulous-dev/Fabulous.Avalonia">
                            <img src="{{ $avaloniaLogo.RelPermalink }}" alt="Logo of Avalonia" />
                            <p>Avalonia</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </section>
    <section class="get-started">
        <div>
            <h3>Build reliable multi-platform apps with <i class="emphasis">Fabulous</i></h3>
            <div class="actions">
                <a class="button" href="https://docs.fabulous.dev/get-started">Get started</a>
                <a class="button outlined" href="https://docs.fabulous.dev">Read docs</a>
            </div>
        </div>
    </section>
{{ end }}
