/* Design system: colors */

// Font families
$jost: 'Jost', sans-serif;
$poppins: 'Poppins', sans-serif;

// Font weights
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Text styles
@mixin font-header1 {
    font: $semibold 32px /1.3 $poppins;
    @media (min-width: 700px) { font: $semibold 40px /1.44 $poppins; }
    @media (min-width: 1440px) { font: $semibold 50px /1.44 $poppins; }
}

@mixin font-header2 {
    font: $semibold 20px /1.3 $poppins;
    @media (min-width: 1000px) { font: $semibold 20px /1.3 $poppins; }
}

@mixin font-header3 {
    font: $semibold 32px /1.3 $poppins;
    @media (min-width: 1000px) { font: $semibold 40px /1.3 $poppins; }
}

@mixin font-paragraph {
    font: $medium 15px /1.5 $poppins;
    @media (min-width: 700px) { font: $medium 18px /1.4 $poppins; }
}

@mixin font-button {
    font: $bold 16px /1.4 $poppins;
}

@mixin font-fabulous {
    font: $semibold 24px /1.4 $jost;
    @media (min-width: 700px) { font: $semibold 25px /1.4 $jost; }
    @media (min-width: 1000px) { font: $semibold 34px /1.4 $jost; }
}

@mixin font-menu {
    font: $semibold 18px /1.4 $poppins;
}
