{{ $logo := resources.Get "images/logo-title.svg" }}

<footer>
    <div class="design-by">
        <a href="https://ruizhangux.com">Design by Rui Zhang</a>
    </div>

    <div class="footer-social">
        <ul>
            <li><a href="https://github.com/fabulous-dev/Fabulous"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://twitter.com/FabulousAppDev"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a rel="me" href="https://mastodon.social/@FabulousAppDev"><i class="fa-brands fa-mastodon"></i></a></li>
            <li><a href="https://discord.gg/bpTJMbSSYK"><i class="fa-brands fa-discord"></i></a></li>
        </ul>
    </div>
</footer>
