{{ $logo := resources.Get "images/logo.svg" }}
{{ $githubLogo := resources.Get "images/github.svg" }}

<header>
    <div class="logo">
        <a href="https://fabulous-dev.github.io/Fabulous/">
            <img src="{{ $logo.RelPermalink }}" alt="Fabulous" />
            Fabulous
        </a>
    </div>
    <div id="menu-button">
        <input type="checkbox" id="menu-button-checkbox" />
        <label for="menu-button-checkbox">
            <div></div>
            <div></div>
            <div></div>
        </label>
    </div>
    <div class="menu">
        <div class="left-menu">
            <a class="menu-item" href="{{ "docs/" | relURL }}">Documentation</a>
            <a class="menu-item" href="https://fabulous.dev/about" style="display: none;">About</a>
            <a class="menu-item" href="https://discord.com/channels/196693847965696000/1541149327701971026">Contact us</a>
        </div>
        <div class="right-menu">
            <a href="https://github.com/fabulous-dev/Fabulous"><i class="fa-brands fa-github"></i></a>
            <a href="https://discord.com/channels/196693847965696000/1541149327701971026"><i class="fa-brands fa-discord"></i></a>
        </div>
    </div>
</header>