obj
bin
*.bak
.vs
.fake
packages
paket-files
*.dll
*.user
\.DS_Store

\.ionide/
build_output/
.idea/
testapp*/

**/samples/**/*\.designer\.cs

1-assembly-types.json
2-bound-model.json
3-optimized-bound-model.json
4-expanded-bound-model.json

Fabulous.XamarinForms/extensions/OxyPlot/OxyPlot.Xamarin.Forms.fs
Fabulous.XamarinForms/extensions/SkiaSharp/SkiaSharp.Views.Forms.fs
Fabulous.XamarinForms/extensions/VideoManager/Plugin.MediaManager.Forms.fs
Fabulous.XamarinForms/extensions/FFImageLoading/Xamarin.FFImageLoading.Forms.fs
Fabulous.XamarinForms/extensions/Maps/Xamarin.Forms.Maps.fs

Fabulous.XamarinForms/extensions/OxyPlot/OxyPlot.Xamarin.Forms.Attributes.fs
Fabulous.XamarinForms/extensions/SkiaSharp/SkiaSharp.Views.Forms.Attributes.fs
Fabulous.XamarinForms/extensions/VideoManager/Plugin.MediaManager.Forms.Attributes.fs
Fabulous.XamarinForms/extensions/FFImageLoading/Xamarin.FFImageLoading.Forms.Attributes.fs
Fabulous.XamarinForms/extensions/Maps/Xamarin.Forms.Maps.Attributes.fs

.paket/Paket.Restore.targets


docs/Fabulous/.obsidian/

docs/.obsidian/
