obj
bin
*.bak
.vs
.fake
packages
paket-files
*.dll
*.user
\.DS_Store

\.ionide/
build_output/
.idea/
testapp*/

Fabulous\.XamarinForms/tests/FSharpDaemon\.Driver\.Tests/data/
Fabulous\.XamarinForms/samples/CounterApp/CounterApp/CounterApp\.args\.txt
Fabulous\.XamarinForms/samples/TicTacToe/TicTacToe/TicTacToe\.args\.txt
Fabulous\.XamarinForms/src/Fabulous\.XamarinForms\/Xamarin\.Forms\.Core\.fs
Fabulous\.StaticView/samples/**/*\.designer\.cs
Fabulous\.XamarinForms/samples/**/*\.designer\.cs

1-assembly-types.json
2-bound-model.json
3-optimized-bound-model.json
4-expanded-bound-model.json
