obj
bin
*.bak
.vs
.fake
packages
paket-files
*.dll
*.user
\.DS_Store

\.ionide/
build_output/
.idea/
testapp*/

Fabulous\.XamarinForms/tests/FSharpDaemon\.Driver\.Tests/data/
Fabulous\.XamarinForms/samples/CounterApp/CounterApp/CounterApp\.args\.txt
Fabulous\.XamarinForms/samples/TicTacToe/TicTacToe/TicTacToe\.args\.txt
Fabulous\.XamarinForms/src/Fabulous\.XamarinForms\.Controls/Xamarin\.Forms\.Core\.fs
