trigger:
- none
pr:
- master

variables:
- name: MONO_VERSION
  value: 5_18_1
- name: XCODE_VERSION
  value: 10.2

jobs:
- job: Windows
  pool:
    vmImage: 'windows-2019'
  steps:
  - script: .\build.cmd
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'VSTest'
      testResultsFiles: '**/TestResults/**/*.trx'
      testRunTitle: '$(Agent.JobName)'

- job: macOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - template: default-osx-template
  - script: ./build.sh Test
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'VSTest'
      testResultsFiles: '**/TestResults/**/*.trx'
      testRunTitle: '$(Agent.JobName)'