type file
id Elmish.XamarinForms
version 0.0
authors Elmish.XamarinForms Contributors
description
    F# bindings for using elmish in Xamarin.Forms 
tags
	Xamarin.Forms F# Elmish Elm
projectUrl
	https://github.com/fsprojects/Elmish.XamarinForms
licenseUrl
	https://github.com/fsprojects/Elmish.XamarinForms/blob/master/LICENSE.md
requireLicenseAcceptance false
files
	build_output/Elmish.XamarinForms.dll ==> lib/netstandard2.0
