version 5.226.0

# dependencies used for retrieving FAKE and its modules
group fakebuild
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0
  storage: none

  clitool dotnet-fake
  nuget Fake.Api.GitHub
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.Core.Xml
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.MSBuild
  nuget Fake.Dotnet.NuGet
  nuget Fake.DotNet.Paket
  nuget Fake.IO.FileSystem
  nuget Newtonsoft.Json

# dependencies used when compiling and running the library and neutral parts of samples
group neutral
  framework: netstandard2.0
  source https://api.nuget.org/v3/index.json
  github fsprojects/FSharp.Compiler.PortaCode:master src/ProjectCracker.fs
  github fsprojects/FSharp.Compiler.PortaCode:master src/CodeModel.fs
  github fsprojects/FSharp.Compiler.PortaCode:master src/Interpreter.fs
  github fsprojects/FSharp.Compiler.PortaCode:master src/FromCompilerService.fs
  github fsprojects/FSharp.Compiler.PortaCode:master src/ProcessCommandLine.fs
  github fsprojects/FSharp.Compiler.PortaCode:master tests/PortaCodeTests.fs

  nuget FSharp.Core 4.6.2
  nuget Xamarin.Forms 4.3.0.908675
  nuget Xamarin.Forms.Maps 4.3.0.908675
  nuget SkiaSharp
  nuget SkiaSharp.Views.Forms
  nuget OxyPlot.Xamarin.Forms 1.0.0
  nuget Newtonsoft.Json 11.0.2

# Dependencies used when compiling and running Android samples. We can normally use the latest FSharp.Core and 
# latest Xamarin.Forms though we pin them for now.
group androidapp
  framework: monoandroid90
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core 4.6.2
  nuget Xamarin.Forms 4.3.0.908675
  nuget Xamarin.Android.FSharp.ResourceProvider 1.0.0.28
  nuget Newtonsoft.Json 11.0.2
  nuget FSharp.Data 3.0.0
  nuget Xamarin.Essentials 1.3.1

# Dependencies used when compiling and running iOS samples. We can normally use the latest FSharp.Core and 
# latest Xamarin.Forms though we pin them for now.
group iosapp
  framework: monotouch
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core 4.6.2
  nuget Xamarin.Forms 4.3.0.908675
  nuget Newtonsoft.Json 11.0.2
  nuget FSharp.Data 3.0.0
  nuget Xamarin.Essentials 1.3.1

group macosapp
  framework: xamarinmac20
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core 4.6.2
  nuget Xamarin.Forms 4.3.0.908675
  nuget Newtonsoft.Json 11.0.2
  nuget FSharp.Data 3.0.0

group wpfapp
  framework: net472
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core 4.6.2
  nuget Xamarin.Forms 4.3.0.908675
  nuget Xamarin.Forms.Platform.WPF 4.3.0.908675 
  nuget Newtonsoft.Json 11.0.2
  nuget FSharp.Data 3.0.0

group gtkapp
  framework: net471
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core 4.6.2
  nuget Xamarin.Forms 4.3.0.908675
  nuget Xamarin.Forms.Platform.GTK 4.3.0.908675 
  nuget Newtonsoft.Json 11.0.2
  nuget FSharp.Data 3.0.0