framework: net45
source https://www.nuget.org/api/v2
nuget FAKE 4.64.13

# dependencies used when compiling and running the library and neutral parts of samples
group neutral
  framework: netstandard2.0
  source https://www.nuget.org/api/v2
  nuget FSharp.Core 4.5.0
  nuget Xamarin.Forms 3.0.0.482510
  nuget FsPickler 5.2
  nuget FsPickler.Json 5.2

# Dependencies used when compiling and running Android samples. We can normally use the latest FSharp.Core and 
# latest Xamarin.Forms though we pin them for now.
group androidapp
  framework: monoandroid71
  source https://www.nuget.org/api/v2
  nuget FSharp.Core 4.5.0
  nuget Xamarin.Forms 3.0.0.482510
  nuget Xamarin.Android.FSharp.ResourceProvider 1.0.0.14
  nuget Xamarin.Android.Support.Animated.Vector.Drawable 25.4.0.2
  nuget Xamarin.Android.Support.Annotations 25.4.0.2
  nuget Xamarin.Android.Support.Compat 25.4.0.2
  nuget Xamarin.Android.Support.Core.UI 25.4.0.2
  nuget Xamarin.Android.Support.Core.Utils 25.4.0.2
  nuget Xamarin.Android.Support.Design 25.4.0.2
  nuget Xamarin.Android.Support.Fragment 25.4.0.2
  nuget Xamarin.Android.Support.Media.Compat 25.4.0.2
  nuget Xamarin.Android.Support.Transition 25.4.0.2
  nuget Xamarin.Android.Support.v4 25.4.0.2
  nuget Xamarin.Android.Support.v7.AppCompat 25.4.0.2
  nuget Xamarin.Android.Support.v7.CardView 25.4.0.2
  nuget Xamarin.Android.Support.v7.MediaRouter 25.4.0.2
  nuget Xamarin.Android.Support.v7.Palette 25.4.0.2
  nuget Xamarin.Android.Support.v7.RecyclerView 25.4.0.2
  nuget Xamarin.Android.Support.Vector.Drawable 25.4.0.2

# Dependencies used when compiling and running iOS samples. We can normally use the latest FSharp.Core and 
# latest Xamarin.Forms though we pin them for now.
group iosapp
  framework: monotouch
  source https://www.nuget.org/api/v2
  nuget FSharp.Core 4.5.0
  nuget Xamarin.Forms 3.0.0.482510
