framework: net45
source https://www.nuget.org/api/v2
nuget FAKE 4.64.13

# dependencies used when compiling and running the library and neutral parts of samples
group neutral
  framework: netstandard2.0
  source https://www.nuget.org/api/v2
  source https://www.myget.org/F/oxyplot
  nuget FSharp.Core 4.5.0
  nuget Xamarin.Forms 3.0.0.482510
  nuget Xamarin.Forms.Maps 3.0.0.482510
  nuget SkiaSharp
  nuget SkiaSharp.Views.Forms
  nuget OxyPlot.Core 2.0.0-unstable0956 # version matching last updated version of OxyPlot.Xamarin.Forms
  nuget OxyPlot.Xamarin.Forms 1.1.0-unstable0013 # last version seen on myget
  nuget FsPickler 5.2
  nuget FsPickler.Json 5.2

# Dependencies used when compiling and running Android samples. We can normally use the latest FSharp.Core and 
# latest Xamarin.Forms though we pin them for now.
group androidapp
  framework: monoandroid71
  source https://www.nuget.org/api/v2
  nuget FSharp.Core 4.5.0
  nuget Xamarin.Forms 3.0.0.482510
  nuget Xamarin.Android.FSharp.ResourceProvider 1.0.0.14
  nuget Xamarin.Android.Arch.Core.Common 1.0.0.1
  nuget Xamarin.Android.Arch.Core.Runtime 1.0.0.1
  nuget Xamarin.Android.Arch.Lifecycle.Common 1.0.3.1
  nuget Xamarin.Android.Arch.Lifecycle.Runtime 1.0.3.1
  nuget Xamarin.Android.Support.Animated.Vector.Drawable 27.0.2.1
  nuget Xamarin.Android.Support.Annotations 27.0.2.1
  nuget Xamarin.Android.Support.Compat 27.0.2.1
  nuget Xamarin.Android.Support.Core.UI 27.0.2.1
  nuget Xamarin.Android.Support.Core.Utils 27.0.2.1
  nuget Xamarin.Android.Support.Design 27.0.2.1
  nuget Xamarin.Android.Support.Fragment 27.0.2.1
  nuget Xamarin.Android.Support.Media.Compat 27.0.2.1
  nuget Xamarin.Android.Support.Transition 27.0.2.1
  nuget Xamarin.Android.Support.v4 27.0.2.1
  nuget Xamarin.Android.Support.v7.AppCompat 27.0.2.1
  nuget Xamarin.Android.Support.v7.CardView 27.0.2.1
  nuget Xamarin.Android.Support.v7.MediaRouter 27.0.2.1
  nuget Xamarin.Android.Support.v7.Palette 27.0.2.1
  nuget Xamarin.Android.Support.v7.RecyclerView 27.0.2.1
  nuget Xamarin.Android.Support.Vector.Drawable 27.0.2.1

# Dependencies used when compiling and running iOS samples. We can normally use the latest FSharp.Core and 
# latest Xamarin.Forms though we pin them for now.
group iosapp
  framework: monotouch
  source https://www.nuget.org/api/v2
  nuget FSharp.Core 4.5.0
  nuget Xamarin.Forms 3.0.0.482510

group macos
  framework: xamarinmac20
  source https://www.nuget.org/api/v2
    nuget FSharp.Core 4.5.0
    nuget Xamarin.Forms 3.0.0.482510 
