<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Xamarin.Forms" version="XamarinFormsSdk"  />

    <package id="Xamarin.Essentials" version="XamarinEssentialsSdk"  />
    <package id="FSharp.Core" version="FSharpCorePkgVersion"  />
    <package id="Newtonsoft.Json" version="NewtonsoftJsonPkg"  />

    <package id="Fabulous" version="FabulousPkgsVersion" />
    <package id="Fabulous.LiveUpdate" version="FabulousPkgsVersion" />
    <package id="Fabulous.XamarinForms" version="FabulousPkgsVersion" />
    <package id="Fabulous.XamarinForms.LiveUpdate" version="FabulousPkgsVersion" />
</packages>