<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous.Core" version="FabulousPkgsVersion" />
  <package id="Fabulous.CustomControls" version="FabulousPkgsVersion" />
  <package id="FSharp.Core" version="FSharpCorePkgVersion" />
  <package id="Newtonsoft.Json" version="NewtonsoftJsonPkg" />
  <package id="Xamarin.Forms" version="XamarinFormsSdk" />
  <package id="Xamarin.Forms.Platform.GTK" version="XamarinFormsSdk" />
</packages>