<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous.Core" version="FabulousPkgsVersion" targetFramework="net471" />
  <package id="Fabulous.CustomControls" version="FabulousPkgsVersion" targetFramework="net472" />
  <package id="FSharp.Core" version="FSharpCorePkgVersion" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="NewtonsoftJsonPkg" targetFramework="net471" />
  <package id="Xamarin.Forms" version="XamarinFormsSdk" targetFramework="net471" />
  <package id="Xamarin.Forms.Platform.GTK" version="XamarinFormsSdk" targetFramework="net451" />
</packages>