type file
id Fabulous.Core
version 0.0
authors Fabulous Contributors
description
    F# Functional App Development using Xamrin.Forms
tags
	Xamarin.Forms F# Elmish Elm
projectUrl
	https://github.com/fsprojects/Fabulous
licenseUrl
	https://github.com/fsprojects/Fabulous/blob/master/LICENSE.md
requireLicenseAcceptance false
files
	../build_output/Fabulous.Core.dll ==> lib/netstandard2.0
dependencies
  FSharp.Core >= LOCKEDVERSION-neutral
  Xamarin.Forms >= LOCKEDVERSION-neutral
