@import '../../themes/fabulous.dev-theme/assets/sass/colors';

$spotlight-header-color: rgba($color: #85DBE6, $alpha: 0.8);
$spotlight-mvu-color: rgba($color: #8AB7FF, $alpha: 0.8);
$spotlight-dotnet-color: rgba($color: #9185E6, $alpha: 0.8);
$spotlight-community-color: rgba($color: #85DBE6, $alpha: 0.8);