<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <!-- Rebuilt Xamarin.Forms for new net6.0-ios -->
        <add key="fabulousfx" value="https://nuget.pkg.github.com/fabulousfx/index.json" />
        <!-- Nightly builds for Fabulous -->
        <add key="timlariviere" value="https://nuget.pkg.github.com/TimLariviere/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <fabulousfx>
            <add key="Username" value="USERNAME" />
            <add key="ClearTextPassword" value="TOKEN" />
        </fabulousfx>
        <timlariviere>
            <add key="Username" value="USERNAME" />
            <add key="ClearTextPassword" value="TOKEN" />
        </timlariviere>
    </packageSourceCredentials>
</configuration>