<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="FABULOUS_PKG_VERSION" targetFramework="xamarinios10" />
  <package id="Fabulous.XamarinForms" version="FABULOUS_PKG_VERSION" targetFramework="xamarinios10" />
  <package id="FSharp.Core" version="6.0.4" targetFramework="xamarinios10" />
  <package id="System.Buffers" version="4.5.1" targetFramework="xamarinios10" />
  <package id="System.Memory" version="4.5.5" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="xamarinios10" />
  <package id="Xamarin.CommunityToolkit" version="2.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="1.7.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="5.0.0.2401" targetFramework="xamarinios10" />
</packages>