<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.6.2" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.908675" targetFramework="net472" />
  <package id="Xamarin.Forms.PancakeView" version="1.3.4" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.3.0.908675" targetFramework="net472" />
</packages>