<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous" version="FabulousPkgsVersion" targetFramework="monoandroid10.0" />
  <package id="Fabulous.LiveUpdate" version="FabulousPkgsVersion" targetFramework="monoandroid10.0" />
  <package id="Fabulous.XamarinForms" version="FabulousPkgsVersion" targetFramework="monoandroid10.0" />
  <package id="Fabulous.XamarinForms.LiveUpdate" version="FabulousPkgsVersion" targetFramework="monoandroid10.0" />
  <package id="FSharp.Core" version="FSharpCorePkgVersion" targetFramework="monoandroid10.0" />
  <package id="Newtonsoft.Json" version="NewtonsoftJsonPkg" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Android.FSharp.ResourceProvider" version="XamarinAndroidFSharpResourceProviderPkg" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Activity" version="XamarinAndroidXActivityVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Annotation" version="XamarinAndroidXAnnotationVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.AppCompat" version="XamarinAndroidXAppCompatVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.AppCompat.Resources" version="XamarinAndroidXAppCompatResourcesVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Arch.Core.Common" version="XamarinAndroidXArchCoreCommonVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Arch.Core.Runtime" version="XamarinAndroidXArchCoreRuntimeVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.AsyncLayoutInflater" version="XamarinAndroidXAsyncLayoutInflaterVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Browser" version="XamarinAndroidXBrowserVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.CardView" version="XamarinAndroidXCardViewVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Collection" version="XamarinAndroidXCollectionVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.CoordinatorLayout" version="XamarinAndroidXCoordinatorLayoutVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Core" version="XamarinAndroidXCoreVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.CursorAdapter" version="XamarinAndroidXCursorAdapterVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.CustomView" version="XamarinAndroidXCustomViewVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.DocumentFile" version="XamarinAndroidXDocumentFileVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.DrawerLayout" version="XamarinAndroidXDrawerLayoutVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Fragment" version="XamarinAndroidXFragmentVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Interpolator" version="XamarinAndroidXInterpolatorVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Legacy.Support.Core.UI" version="XamarinAndroidXLegacySupportCoreUIVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Legacy.Support.Core.Utils" version="XamarinAndroidXLegacySupportCoreUtilsVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Legacy.Support.V4" version="XamarinAndroidXLegacySupportV4Version" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Common" version="XamarinAndroidXLifecycleCommonVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData" version="XamarinAndroidXLifecycleLiveDataVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Lifecycle.LiveData.Core" version="XamarinAndroidXLifecycleLiveDataCoreVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Lifecycle.Runtime" version="XamarinAndroidXLifecycleRuntimeVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Lifecycle.ViewModel" version="XamarinAndroidXLifecycleViewModelVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Loader" version="XamarinAndroidXLoaderVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.LocalBroadcastManager" version="XamarinAndroidXLocalBroadcastManagerVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Media" version="XamarinAndroidXMediaVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.MultiDex" version="XamarinAndroidXMultiDexVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Print" version="XamarinAndroidXPrintVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.RecyclerView" version="XamarinAndroidXRecyclerViewVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.SavedState" version="XamarinAndroidXSavedStateVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.SlidingPaneLayout" version="XamarinAndroidXSlidingPaneLayoutVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.SwipeRefreshLayout" version="XamarinAndroidXSwipeRefreshLayoutVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.Transition" version="XamarinAndroidXTransitionVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.VectorDrawable" version="XamarinAndroidXVectorDrawableVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.VectorDrawable.Animated" version="XamarinAndroidXVectorDrawableAnimatedVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.VersionedParcelable" version="XamarinAndroidXVersionedParcelableVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.AndroidX.ViewPager" version="XamarinAndroidXViewPagerVersion" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Essentials" version="XamarinEssentialsSdk" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Forms" version="XamarinFormsSdk" targetFramework="monoandroid10.0" />
  <package id="Xamarin.Google.Android.Material" version="XamarinGoogleAndroidMaterialVersion" targetFramework="monoandroid10.0" />
</packages>
