<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- F# -->
    <package id="FSharp.Core" version="FSharpCorePkgVersion" targetFramework="monoandroid10.0" />

    <!-- F# on Android -->
    <package id="Xamarin.Android.FSharp.ResourceProvider" version="XamarinAndroidFSharpResourceProviderPkg" targetFramework="monoandroid10.0" />

    <!-- Xamarin.Forms -->
    <package id="Xamarin.AndroidX.Activity" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Annotation" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.AppCompat" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.AppCompat.Resources" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Arch.Core.Common" version="2.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Arch.Core.Runtime" version="2.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.AsyncLayoutInflater" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Browser" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.CardView" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Collection" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.CoordinatorLayout" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Core" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.CursorAdapter" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.CustomView" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.DocumentFile" version="1.0.1" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.DrawerLayout" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Fragment" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Interpolator" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Legacy.Support.Core.UI" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Legacy.Support.Core.Utils" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Legacy.Support.V4" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Lifecycle.Common" version="2.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Lifecycle.LiveData" version="2.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Lifecycle.LiveData.Core" version="2.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Lifecycle.Runtime" version="2.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Lifecycle.ViewModel" version="2.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Loader" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.LocalBroadcastManager" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Media" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Migration" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.MultiDex" version="2.0.1" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Print" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.RecyclerView" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.SavedState" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.SlidingPaneLayout" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.SwipeRefreshLayout" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.Transition" version="1.2.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.VectorDrawable" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.VectorDrawable.Animated" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.VersionedParcelable" version="1.1.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.AndroidX.ViewPager" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.Forms" version="XamarinFormsSdk" targetFramework="monoandroid10.0" />
    <package id="Xamarin.Google.Android.Material" version="1.0.0" targetFramework="monoandroid10.0" />
    <package id="Xamarin.Google.Guava.ListenableFuture" version="1.0.0.2" targetFramework="monoandroid10.0" />

    <!-- Fabulous.XamarinForms -->
    <package id="Fabulous" version="FabulousPkgsVersion" />
    <package id="Fabulous.LiveUpdate" version="FabulousPkgsVersion" />
    <package id="Fabulous.XamarinForms" version="FabulousPkgsVersion" />
    <package id="Fabulous.XamarinForms.LiveUpdate" version="FabulousPkgsVersion" />

    <!-- Helpers -->
    <package id="Xamarin.Essentials" version="XamarinEssentialsSdk" targetFramework="monoandroid10.0" />
    <package id="Newtonsoft.Json" version="NewtonsoftJsonPkg" />
</packages>