<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Xamarin.Forms" version="XamarinFormsSdk" />

    <package id="Xamarin.Android.FSharp.ResourceProvider" version="XamarinAndroidFSharpResourceProviderPkg" />

    <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Annotations" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Compat" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Core.UI" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Core.Utils" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Design" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Fragment" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Media.Compat" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Transition" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.v4" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.v7.AppCompat" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.v7.CardView" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.v7.MediaRouter" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.v7.Palette" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.v7.RecyclerView" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Vector.Drawable" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.CustomTabs" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.SlidingPaneLayout" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.DocumentFile" version="XamarinAndroidSdkVersion" />

    <package id="Xamarin.Android.Support.SwipeRefreshLayout" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Print" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.AsyncLayoutInflater" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.ViewPager" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.CursorAdapter" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.LocalBroadcastManager" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Interpolator" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Collections" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.Loader" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.VersionedParcelable" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.DrawerLayout" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.CoordinaterLayout" version="XamarinAndroidSdkVersion" />
    <package id="Xamarin.Android.Support.CustomView" version="XamarinAndroidSdkVersion" />

    <package id="Xamarin.Android.Arch.Lifecycle.LiveData.Core" version="XamarinAndroidArchVersion" />
    <package id="Xamarin.Android.Arch.Lifecycle.Common" version="XamarinAndroidArchVersion" />
    <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="XamarinAndroidArchVersion" />
    <package id="Xamarin.Android.Arch.Lifecycle.ViewModel" version="XamarinAndroidArchVersion" />
    <package id="Xamarin.Android.Arch.Core.Common" version="XamarinAndroidArchVersion" />
    <package id="Xamarin.Android.Arch.Core.Runtime" version="XamarinAndroidArchVersion" />

    <package id="Xamarin.Essentials" version="XamarinEssentialsSdk" />
    <package id="FSharp.Core" version="FSharpCorePkgVersion" />
    <package id="Newtonsoft.Json" version="NewtonsoftJsonPkg" />
    
    <package id="Fabulous" version="FabulousPkgsVersion" />
    <package id="Fabulous.LiveUpdate" version="FabulousPkgsVersion" />
    <package id="Fabulous.XamarinForms" version="FabulousPkgsVersion" />
    <package id="Fabulous.XamarinForms.LiveUpdate" version="FabulousPkgsVersion" />
</packages>